<p>Most profitable device/ coins</p>
<table class="table table-dark">
    <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col">Name</th>
        <th scope="col">Hash</th>
        <th scope="col">Profit (24h)</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Iphone 12 pro max</td>
        <td>414 000 h/s</td>
        <td>0.003$</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Iphone 11</td>
        <td>220 000 h/s</td>
        <td>0.001$</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Samsung S20 ultra</td>
        <td>74 000 h/s</td>
        <td>0.002$</td>
      </tr>
    </tbody>
  </table>