<h1>DuinoCoin <img src="https://duinocoin.com/assets/icons/duco.svg" alt="DuinoCoin logo" height="35"></h1>

<ng-container *ngIf="!isSettingGui">
    <button type="button" class="btn btn-primary" (click)="false"><i class="fas fa-cogs"></i></button>
    <p>Status: {{status$ | async}}!</p>
    <p><b>Hashrate: {{hashrate$ | async}} H/S</b></p>
    <p class="text-success">Accepted shares: {{acceptedShares$ | async}}!</p>
    <p class="text-danger">Bad shares: {{badShares$ | async}}!</p>
    <p>Server log: {{log$ | async}}!</p>
    <p>Go to official <a href="https://wallet.duinocoin.com/" target="_blank" rel="noopener noreferrer">WebWallet</a>.</p>
</ng-container>




<ng-container *ngIf="isSettingGui">
    <form [formGroup]="settingsForm">
        <div class="form-group">
          <label for="username">DuinoCoin username</label>
          <input type="text" class="form-control" id="username" placeholder="Enter username" formControlName="username">
          <small class="form-text text-muted">Your duinocoin username thats gona recive the coins</small>
        </div>
        <div class="form-group">
          <label for="rigName">Rig name</label>
          <input type="text" class="form-control" id="rigName" placeholder="Enter Rig name" formControlName="rigName">
        </div>
    </form>
    <button type="button" class="btn btn-primary" (click)="startMining()" *ngIf="(status$ | async) === 'Connected'">Start mining <i class="fas fa-hammer"></i></button>
</ng-container>
